body {
    background-color: black;
    color: white;
    padding: 3%;
}

.nav-item {
    margin-left: 2%;
    margin-right: 2%;
}


#dashboard-title {
    text-align: center;
}

#company-finance {
    color: black;
}

.company-finance-title {
    text-align: center;
}

.employee-form-area, .department-form-area {
    margin: 10px;
}

table, th, td {
    border: 2px solid grey;
    border-collapse: collapse;
    padding: 0.5em;
}
